<div class="row">

  <div class="col-xs-12">
      <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 listing-title"> Listings</div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <card :no-header="true" addition-class-name="card-banner card-yellow-light listing-properties">
            <!-- <i class="icon fa fa-user-plus fa-4x"></i> -->
            <!--TODO get the source from cloudinary-->
            <div class="listing-logo">
             <img class="icon img-listing-logo" src="~src/assets/images/logos/lamudi_logo.fw.png">
            </div>

            <div class="content">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <div class="value"><span class="sign"></span>400</div>
            </div>
          </card>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <card :no-header="true" addition-class-name="card-banner card-pink-light listing-properties">
                      <!-- <i class="icon fa fa-user-plus fa-4x"></i> -->
                      <!--TODO get the source from cloudinary-->
                      <div class="listing-logo">
                       <img class="icon img-listing-logo" src="~src/assets/images/logos/meqasa.fw.png">
                      </div>

                      <div class="content">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <div class="value"><span class="sign"></span>300</div>
                      </div>
              </card>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <card :no-header="true" addition-class-name="card-banner card-blue-light listing-properties">
                      <!-- <i class="icon fa fa-user-plus fa-4x"></i> -->
                      <!--TODO get the source from cloudinary-->
                      <div class="listing-logo"  >
                       <img class="icon img-listing-logo" src="~src/assets/images/logos/olx.fw.png">
                      </div>

                      <div class="content">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <div class="value"><span class="sign"></span>100</div>
                      </div>
              </card>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <card :no-header="true" addition-class-name="card-banner card-green-light listing-properties">
                      <!-- <i class="icon fa fa-user-plus fa-4x"></i> -->
                      <!--TODO get the source from cloudinary-->
                      <div class="listing-logo">
                       <img class="icon img-listing-logo" src="~src/assets/images/logos/tonaton.fw.png">
                      </div>

                      <div class="content">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <div class="value"><span class="sign"></span>250</div>
                      </div>
              </card>
        </div>
      </div>


    </div>

    <div class="row row-listing" >
        <div v-for = "list in listing" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 content-listing">
              <div class="image center-block">
                    <img class="listing-img" v-bind:src="list.image">
              </div>
              <div class="listing-content">
                    <div class="description-excerpt">{{list.description}}</div>

                    <div class="listing-details-price"><strong>{{list.price}}</strong></div>
                    <hr>
                    <div class="listed-on">
                          <img class="icon lamudi"  src="~src/assets/images/logos/lamudi_logo.fw.png"/>
                          <img class="icon meqasa" src="~src/assets/images/logos/meqasa.fw.png">
                          <img class="icon olx" src="~src/assets/images/logos/olx.fw.png">
                          <img class="icon tonaton" src="~src/assets/images/logos/tonaton.fw.png">

                    </div class="listed-rating">
                    <div> <strong>Listed:</strong> {{getRandomlisting}}/4</div>


              </div>

        </div>
    </div>



  </div>
</div>