 <div class="row row-listing" >
	<div v-for = "list in listing" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 content-listing">
		<div class="image center-block">
		     	<img class="listing-img" v-bind:src="list.image">
		</div>
		<div class="listing-content">
			<div class="description-excerpt">{{list.description}}</div>

			<div class="listing-details-price"><strong>{{list.price}}</strong></div>
			<hr>
			<div class="listed-on">
			     <img class="icon lamudi"  src="~src/assets/images/logos/lamudi_logo.fw.png"/>
			     <img class="icon meqasa" src="~src/assets/images/logos/meqasa.fw.png">
			     <img class="icon olx" src="~src/assets/images/logos/olx.fw.png">
			     <img class="icon tonaton" src="~src/assets/images/logos/tonaton.fw.png">
			</div class="listed-rating">

			<div> <strong>Listed:</strong> {{getRandomlisting}}/4</div>
		</div>

	</div>
</div>
